@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body {
	display: flex;
	flex-direction: column;
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #9DE0AD;
	text-align: center;
	align-content: center;
	flex-grow: 100%
}

textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #9DE0AD;
	text-align: center;
	align-content: center;
	min-width: 50%;
	margin-top: 2em;
}

form,
.horiz-box {
	display: flex;
	align-items: center;
}


.formTarget {
	
	align-items: center;
	align-content: center;
	flex-direction: column;
}

fieldset,
input,
label,
select {
	display: flex;
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #9DE0AD;
	text-align: center;
	border-radius: 5px;
	margin: .5em;
	flex-grow: 100%
}

button {
	border-radius: 5px;
	display: flex;
	align-items : center;
	justify-content: center;
	background-color: #45ADA8 ;
}

h2,h3,h4,h5,h6 {
	font-family: "Patua One", serif;
	letter-spacing: 2px;
	color: #547980;
	flex-grow: 100%
	
}

h1 {
	color: #45ADA8;
	flex-grow: 100%
}

button {
	border-radius: 5px;
	display: flex;
	align-items : center;
	justify-content: center;
	background-color: #45ADA8 ;
}

#date-and-topics-enclosing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-grow: 100%;
} 

#mood-and-submit-enclosing {
	
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-grow: 100%;
}

.box {
	border: solid #E5FCC2;
	min-height: 4em;
	flex-grow: 100%;
	align-content: center;
	padding: 1em;
}

.note {
	flex-grow: 100%;
}	

.horiz-box {
	border: solid #547980;
	display: flex;
	margin: 2px;
	min-height: 4em;
	flex-grow: 100%;
	justify-content: space-around;
}

.journal-entry {
	background-color: #45ADA8 ;
	height: 400px;
	flex-grow: 80%;
	margin-bottom: 65px;
	border-radius: 5px;
	align-content: center;
}

.mood-selector.box {
	height: 105px;
	flex-grow: 100%;
	flex-direction: column;
}

.submit-button.box {
	border-radius: 5px;
	display: flex;
	align-items : center;
	justify-content: center;
	flex-grow: 100%;
}

.input-field {
	flex-grow: 100%;
	min-height: 8em;
	background-color: beige;
}

.entriesList {
	display: flex;
	flex-direction: column-reverse;
}

/* COLOR PALLETTE:
E5FCC2   9DE0AD   45ADA8   547980   594F4F
  */